<div class="section-container pour-qui-section">
  <h2>A qui s'adresse le bilan neuropsychologique ?</h2>

  <p>Le neuropsychologue reçoit des enfants et des adolescents présentant des difficultés scolaires ou des troubles des apprentissages déjà diagnostiquées.</p>

  <h3>Signes d'appel :</h3>
  <ul>
    <li>Difficultés à se concentrer</li>
    <li>Agitation motrice/ impulsivité qui entravent le travail scolaire</li>
    <li>Difficultés à mémoriser les informations (les leçons, les tables de multiplication…)</li>
    <li>Difficultés de consolidation des acquis</li>
    <li>Difficultés de compréhension des consignes</li>
    <li>Difficultés d'orientation dans le temps et dans l'espace</li>
    <li>Accès difficile aux notions abordées en géométrie</li>
    <li>Motricité fine peu satisfaisante (maladresse)</li>
    <li>Difficultés de mise en place de l'écriture</li>
    <li>Difficultés scolaires d'ordre global</li>
  </ul>

  <p>Si les difficultés de votre enfant concernent uniquement le langage oral, le langage écrit (lecture, orthographe) ou les mathématiques, adressez-vous plutôt à une orthophoniste. S'ils sont associés aux troubles cités plus haut, il est plus pertinent d'envisager un bilan neuropsychologique dès le départ. Le neuropsychologue vous orientera vers un rééducateur approprié par la suite.</p>

  <p>Si les difficultés de votre enfant concernent uniquement la motricité globale (sans difficultés visuo-spatiales et graphiques), adressez-vous plutôt à une psychomotricienne.</p>
</div>
