<div class="section-container apres-section">
  <h2>Rééducation / Prise en charge</h2>

  <p><strong>La prise en charge peut se dérouler sous forme de:</strong></p>

  <h3>Activités de groupe</h3>
  <p>Qui se déroulent généralement sur une dizaine de séances :</p>
  <ul>
    <li><strong>Méthodologie/métacognition</strong> (gestion des ressources attentionnelles, stratégies de mémorisation, capacité à planifier son travail, l'organisation du temps et de la pensée).</li>
    <li><strong>Estime de soi/confiance en soi</strong> (avec des interventions variées en fonction de l'âge).</li>
    <li><strong>Compétences sociales</strong> (pour les enfants à haut potentiel, enfants avec TDAH, jeunes enfants avec des troubles du langage qui rencontrent des difficultés dans les interactions sociales).</li>
    <li><strong>Gestion émotionnelle</strong> (manifestations de l'anxiété, décrites comme « stress » dans le contexte scolaire).</li>
  </ul>

  <h3>Séances individuelles</h3>
  <p>Qui seront conçues de façon à s'adapter aux besoins spécifiques de l'enfant.</p>
</div>
