<div class="section-container bilan-section">
  <h2>En quoi consiste le bilan neuropsychologique?</h2>

  <p>Le bilan comprend un entretien, une évaluation et une restitution orale et écrite.</p>

  <h3>L'entretien</h3>
  <p>Avec les parents et l'enfant/l'adolescent a pour but d'analyser la demande et recueillir des informations concernant :</p>
  <ul>
    <li>le développement psychomoteur,</li>
    <li>le développement du langage</li>
    <li>la scolarité (plus particulièrement les difficultés rencontrées par l'enfant)</li>
    <li>les suivis extérieurs</li>
  </ul>

  <h3>L'évaluation</h3>
  <p>Le bilan comprend systématiquement l'évaluation de:</p>
  <ul>
    <li>fonctionnement intellectuel global (accès au raisonnement verbal et non verbal)</li>
    <li>capacités d'attention</li>
    <li>fonctions exécutives (planification, inhibition, flexibilité mentale, mémoire de travail)</li>
    <li>mémoire à long terme</li>
    <li>fonctions praxiques (les aptitudes visuo-spatiales, la motricité fine, le graphisme)</li>
  </ul>
  <p>Afin de compléter le bilan, le neuropsychologue peut être amené à évaluer :</p>
  <ul>
    <li>le langage oral</li>
    <li>le langage écrit (lecture orthographe)</li>
    <li>les compétences logico-mathématiques</li>
  </ul>

  <h3>La restitution</h3>
  <p>La rédaction du compte-rendu inclut des :</p>
  <ul>
    <li><strong>Préconisations thérapeutiques</strong> (orientation vers une rééducation appropriée)</li>
    <li>
      <strong>Adaptations pédagogiques</strong> :
      <ul>
        <li>adaptation scolaire (stratégie mnémotechnique, tiers temps, auxiliaire de vie scolaire…)</li>
        <li>adaptation du matériel (ordinateur, photocopie…)</li>
        <li>orientation (SESSAD , CLISS, UPI, IEM, IME…)</li>
      </ul>
    </li>
  </ul>

  <p>Notez que si un enfant est déjà pris en charge dans une structure (CMPP, SESSAD, IME, IEM, ITEP…) dans laquelle il n'y a pas de neuropsychologue, la structure peut, de manière ponctuelle, engager un neuropsychologue exerçant en libéral pour un bilan.</p>

</div>
